# Ignorar datos persistentes
n8n_data/
__pycache__/
*.log
.env
integracion-iris-sheets-1cadb87268e2.json
logs/*xlsx

z_teamcoder_quimioterapia_ambulatoria/resultados/*
z_usabilidad_5_salida_en_vivo/1_entrada/*.xlsx
z_usabilidad_5_salida_en_vivo/2_proceso/*.xlsx
z_usabilidad_5_salida_en_vivo/3_resultados/*.xlsx
z_usabilidad_5_salida_en_vivo/logs
z_usabilidad_5_salida_en_vivo/pbix
env